.nav {
    background-color: var(--tertitiary-color);
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav ul {
    width: 100%;
    height: 70%;
    display: grid;
    place-items: center;
}

.nav ul li {
    list-style-type: none;
}

.nav ul li a {
    text-decoration: none;
}

.drop .cont-drop {
    position: absolute;
    background-color: var(--other-color);
    display: none;
    align-items: center;
    transition: display 3s ease-in-out;
    text-align: center;
    font-size: 1rem;
    width: 100px;
    height: 100px;
    color: var(--secondary-color);
    /* margin-top: 10px; */
    margin-left: -20px;
}

.drop:hover .cont-drop {
    display: block;
    transition: display 3s ease-in-out;
}

.cont-drop div {
    margin: 9px 0;
}