body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.nav {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

ul li {
    margin: 0 15px;
}