:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --tertitiary-color: #70abaf;
    --other-colors: rgb(46, 49, 95);
    --font1: "Ubuntu";
    --font2: "Ubuntu Mono";
    --font3: monospace;
    --font4: "Ari";
}


/* body */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}


/* body ends */

.nav {
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

ul li {
    margin: 0 15px;
    list-style-type: none;
}

.right-side-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li a {
    text-decoration: none;
}

.drop .cont-drop {
    position: absolute;
    background-color: var(--tertitiary-color);
    display: block;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    width: 100px;
    height: 100px;
    color: var(--secondary-color);
    margin-top: 20px;
    margin-left: -20px;
}

.cont-drop div {
    margin: 7px 0;
}