:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --tertitiary-color: #70abaf;
    --other-colors: rgb(46, 49, 95);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

.nav {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

ul li {
    margin: 0 15px;
    list-style-type: none;
}

.right-side-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li a {
    text-decoration: none;
}

.drop .cont-drop {
    position: absolute;
    background-color: var(--tertitiary-color);
    display: block;
    text-align: center;
    font-size: 0.7rem;
    width: 100px;
    height: 100px;
    color: var(--secondary-color);
}

.cont-drop div {
    margin: 7px 0;
}