body {
    margin: 0;
    padding: 0;
    background-color: #000;
    box-sizing: border-box;
}

.login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-box {
    width: 250px;
    height: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}