body {
    margin: 0;
    padding: 0;
    background-color: #000;
    box-sizing: border-box;
}

.login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

form * {
    margin: 5px;
}

label {
    text-align: left;
    width: 170px;
}

.login-box {
    width: 250px;
    height: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    text-align: center;
}

.header h1 {
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
}

.